/.idea
PoseDetection/__pycache__
/PoseDetection/raw_videos/*.csv
utils/__pycache__
data/dataset
data/raw_videos
data/raw_videos_2
record_output
PoseDetection/dataset_3
data/raw_videos_3
/PoseDetection/mlruns/
logs.log
/PoseDetection/model_files/
capture/__pycache__
data/dataset_11111
data/dataset_10100
model_files/models_10100
model_files/models_11111/best_cnn_ws4.keras
model_files/models_11111/best_cnn_ws4_withT.keras
model_files/models_11111/best_crnn_ws12.keras
model_files/models_11111/best_crnn_ws12_withT.keras
model_files/models_11111/best_efficientnet1d_ws4.keras
model_files/models_11111/best_efficientnet1d_ws4_withT.keras
model_files/models_11111/best_inception_ws4.keras
model_files/models_11111/best_inception_ws4_withT.keras
model_files/models_11111/best_lstm_attention_ws16.keras
model_files/models_11111/best_lstm_attention_ws16_withT.keras
model_files/models_11111/best_resnet1d_tcn_ws16.keras
model_files/models_11111/best_resnet1d_tcn_ws16_withT.keras
model_files/models_11111/best_resnet1d_ws16.keras
model_files/models_11111/best_resnet1d_ws16_withT.keras
model_files/models_11111/best_seresnet1d_ws16.keras
model_files/models_11111/best_seresnet1d_ws16_withT.keras
model_files/models_11111/best_tcn_se_ws24.keras
model_files/models_11111/best_tcn_se_ws24_withT.keras
model_files/models_11111/best_tcn_ws24.keras
model_files/models_11111/best_tcn_ws24_withT.keras
model_files/models_11111/best_tftlite_ws16.keras
model_files/models_11111/best_tftlite_ws16_withT.keras
model_files/models_11111/best_transformer_ws16.keras
model_files/models_11111/best_transformer_ws16_withT.keras
model_files/models_11111/best_transformerlite_ws16.keras
model_files/models_11111/best_transformerlite_ws16_withT.keras
model_files/models_11111/best_wavenet_ws8.keras
model_files/models_11111/best_wavenet_ws8_withT.keras
model_files/models_11111/logs
report_summary.html
model_files/models_11111
