/.idea
PoseDetection/__pycache__
/PoseDetection/raw_videos/*.csv
utils/__pycache__
PoseDetection/dataset
PoseDetection/models
PoseDetection/raw_videos
PoseDetection/raw_videos_2
record_output
PoseDetection/dataset_3
PoseDetection/raw_videos_3
/PoseDetection/mlruns/
logs.log
